<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 延迟加载、懒加载，作用于属性和对象域上面 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 是否立即初始化属性或者对象域 -->
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>
	

	<mappers>
		<mapper resource="UserMapper.xml"/>	
	</mappers>
</configuration>
